/* ======================== Clear & General ============================ */
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
/* ======================== Main container ============================ */
.container {
    font-size: 20px;
    display: flex;
    overflow: auto;
    gap: 60px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(253, 240, 198);
    scrollbar-width: none;
    text-align: justify;
}
.container::-webkit-scrollbar {
    display: none;
}

/* ======================== Section ============================ */
section{
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 95%;
    height: 100%;
    padding: 30px;
    /* border: 3px black solid; */
    transition: all linear;
    transition-duration: 0.3s;
}

section:last-child{
    margin-right: 20px;
}
h2{
    font-size: 32px;
    font-style: italic;
    margin-bottom: 30px;
}
section p{
    margin-bottom: 20px;
}
section img{
    float: left;
    margin: 10px 10px 0px 0px;
}
section nav{
    position: absolute;
    bottom: 30px;
    font-size: 16px;
}

/* ======================== Title h1 ============================ */
.title{
    width: 100%;
}
div.title-bg{
    height: 100%;
    width: 100%;
    background: url(./source/bgBlack.png);
    -webkit-mask-image: linear-gradient(to right, rgb(253, 240, 198), transparent);
    mask-image: linear-gradient(to right, rgb(253, 240, 198), transparent);
    background-size: cover;
    background-attachment: fixed;
}
h1{
    width: 50%;
    text-align: center;
    font-size: 40px;
    background: linear-gradient(to right, transparent 0%, rgb(253, 240, 198) 30%,rgb(253, 240, 198) 70%, transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5rem; 
    transform: translate(-50%, -50%);
}
/* ======================== My projects ============================ */
.asu-tp img{
    height: 60%;
    
}
.test-puteks{
    width: 50%;
}
.xo{
    width: 50%; 
}
.xo img{
    float: none;
    display: block;
    margin: auto;
    width: 60%;
}
.test-puteks img{
    height: 70%;
}
.digital-ech img{
    width: 50%;
}
/* ======================== About & contacts ============================ */
.sertifications{
    width: 50%;
}
.sertifications img{
    width: 100%;
}
.about li{
    list-style-position: inside;
}
.about ul{
    margin-bottom: 20px;
}