/* ======================== Clear & General ============================ */
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    color: rgba(12, 12, 12, 0.933);
    /* font-family: 'Manrope', sans-serif; */
}
body{
    background-color: rgba(253, 240, 198, 0.879);
    display: flex;
    justify-content: center;
}
/* ======================== Main container ============================ */
.container {
    font-size: 20px;
    display: flex;
    overflow: auto;
    gap: 60px;
    width: 100vw;
    height: 90vh;
    background-color: rgba(253, 240, 198, 0.879);
    scrollbar-width: none;
    /* scroll-snap-type: x proximity; */
}
.container::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 1380px) {
    .container{
        font-size: 18px;
    }
}
@media screen and (max-width: 941px) {
    .container{
        font-size: 16px;
    }
}
@media screen and (max-width: 770px) {
    .container{
        font-size: 14px;
    }
}
@media screen and (max-width: 550px) {
    .container{
        font-size: 12px;
    }
}
@media screen and (max-width: 392px) {
    .container{
        font-size: 11px;
    }
}

/* ======================== Section ============================ */
section{
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 95%;
    height: 100%;
    padding: 30px 15px;
    /* border: 3px black solid; */
    /* transition: all linear; */
    /* transition-duration: 0.3s; */
    /* scroll-snap-align: center; */
}
section h2{
    font-size: 1.6em;
    /* font-style: italic; */
    margin-bottom: 30px;
}
section p{
    text-align: justify;
}
section img{
    float: right;
    margin: 10px 10px 10px 10px;
}
section nav{
    position: absolute;
    right: 0px;
    bottom: 30px;
    font-size: 0.8em;
    line-height: 10px;
}
section nav a{
    margin-right: 10px;
}
@media screen and (max-width: 770px) {
    section{
        padding: 10px 10px;
    }
    section nav{
        bottom: 10px;
    }
    section h2{
        margin-bottom: 10px;
    }
    section p{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 550px) {
    section img{
        display: block;
        float: none;
        margin: auto;
    }
    section p{
        margin-bottom: 2px;
    }
}
/* ======================== Title h1 ============================ */
.title{
    width: 100%;
}
div.title-bg{
    height: 100%;
    width: 100%;
    background: url(./source/bgBlack.png);
    -webkit-mask-image: linear-gradient(to right, rgba(253, 240, 198, 0.879), transparent);
    mask-image: linear-gradient(to right, rgba(253, 240, 198, 0.879), transparent);
    background-size: cover;
}
h1{
    width: 50%;
    text-align: center;
    font-size: 2em;
    background: linear-gradient(to right, transparent 0%, rgba(253, 240, 198, 0.879) 30%,rgba(253, 240, 198, 0.879) 70%, transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5rem; 
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 550px) {
    h1{
        width: 80%;
    }
}
/* ======================== My projects ============================ */
.asu-tp img{
    width: 50%;
}
.test-puteks{
    width: 50%;
}
.test-puteks img{
    width: 30%;
}
.xo{
    width: 50%; 
}
.xo img{
    float: none;
    display: block;
    margin: auto;
    width: 80%;
}
.digital-ech img{
    width: 40%;
}
@media screen and (max-width: 1045px) {
    .test-puteks{
        width: 65%;
    }
    .xo{
        width: 65%; 
    }

}
@media screen and (max-width: 770px) {
    .asu-tp img{
        width: 70%;
    }
    .test-puteks img{
        width: 40%;
    }
    .digital-ech img{
        width: 70%;
    }
}
@media screen and (max-width: 550px) {
    .asu-tp img{
        width: 80%;
    }
    .test-puteks img{
        width: 60%;
    }
    .xo img{
        width: 100%;
    }
    .digital-ech img{
        width: 80%;
    }
}

/* ======================== About & contacts ============================ */
.sertifications{
    width: 50%;
}
.sertifications img{
    width: 80%;
}
.about{
    width: 100%;
}
.about li{
    list-style-position: inside;
}
.about ul{
    margin-bottom: 20px;
}
@media screen and (max-width: 770px) {
    .sertifications{
        width: 80%;
    }
}
