/* ======================== Clear & General ============================ */
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    cursor: none;
    color: rgba(12, 12, 12, 0.933);
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Manrope', sans-serif;
}

body{
    width: 100vw;
    /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
}
/*-------------------- Mouse, btn magnetic control, scrollBar --------------------*/
.mouse{
    transition: background-color 0.4s, width 0.4s, height 0.4s, transform 0.05s;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    border: 0.5px solid black;
    background-color: rgba(0, 0, 0, 0.848);  
}
.mouse_white{
    background-color: white;
}
.mouse_link-hover{
    background-color: rgba(255, 255, 255, 0.503);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.848);

}
.mouse_btn-hover{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.848);
    background-color: rgba(0, 0, 0, 0); 

}
.btn{
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 80px;
}
.btn__inner{
    pointer-events: none;
    margin: auto;
    width: 50%;
    height: 50%;
    transition: all 0.2s;
}
.btn__inner img{
    width: 100%;
    height: 100%;
}
.carousel__btn{
    transition: opacity 0.5s;
    z-index: 1;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    transform: translate(0px,-50%);
}
.carousel__btn:hover{
    opacity: 1;
}
.carousel__btn_left{
    left: 50px;
}
.carousel__btn_right{
    left: calc(100% - 100px);
}
.scrollInfo{
    position: absolute;
    z-index: 1;
    top: 90%;
    left: calc(100% - 350px);
    width: 300px;
}
.scrollInfo__hint{
    display: flex;
    align-items: center;
    justify-content: end;
    transition: opacity 1s;
    gap: 30px;
}
.scrollInfo__hint_hide{
    opacity: 0;
}
.hint__text{
    color: black;
    text-shadow: 0px 0px 2px white;
    align-items: center;
}
.hint__direction{
    height: 30px;
    animation: goToRight 3s ease-in-out infinite;
}
.hint__direction img{
    height: 100%;
    width: auto;
}
.scrollInfo__bg{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: #e4e5e5;
}
.scrollInfo__progress-bar {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    height: 1px;
    background-color: gray;
}
@keyframes goToRight{
    20%{
        transform: translate(100%,0px);
        opacity: 0;
    }
    40%{
        transform: translate(-100%,0px);
        opacity: 0;
    }
    60%{
        transform: translate(0px,0px);
        opacity: 1;
    }
}
@media screen and (max-width: 770px) {
    .btn{
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }
    .carousel__btn{
        display: none;
    }
    .scrollInfo{
        top: calc(100% - 80px);
        left: 30%;
        max-width: 60%;
    }
}
/* ======================== Main container ============================ */
.container {
    margin-left: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    gap: 100px;
    scrollbar-width: none;
}
.js-canvas{
    position: absolute;
    bottom: 0px;
}
.container::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 1380px) {
    .container{
        font-size: 18px;
    }
}
@media screen and (max-width: 941px) {
    .container{
        font-size: 16px;
    }
}
@media screen and (max-width: 770px) {
    .container{
        margin-left: 0px;
        padding-bottom: 40px;
        font-size: 13px;
    }
}
@media screen and (max-width: 550px) {
    .container{
        font-size: 11px;
    }
}
@media screen and (max-height: 414.98px) {
    .container{
        font-size: 12px;
    }
}
@media screen and (max-height: 375.98px) {
    .container{
        font-size: 10px;
    }
}
/*==================== Aside-menu====================*/
.aside-menu{
    background-color: ghostwhite;
    position: fixed;
    top: 0;
    left: 0;
    width: 450px;
    height: 100%;
    z-index: 1;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.366);
    font-size: 1.4em;
    transition: all 0.5s;
}
.aside-menu_closed{
    left: -400px;
}
.aside-menu__btn-open{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-80%,-50%);
}
.aside-menu__area-open{
    position: absolute;
    height: 100%;
    width: 50px;
    top: 0px;
    left: 100%;
    transform: translate(-100%,0px); 
}
.aside-menu__btn-close{
    margin-left: auto;
}
.nav-menu{
    padding: 50px;
}
.nav-menu__title{
    color: #ccc;
    margin-bottom: 20px;
}
.nav-menu__list{
    list-style: none;
}
.nav-menu__list-item{
    transition: all 0.2s;
    margin-bottom: 10px;
}
.nav-menu__list-item:hover{
    font-weight: bold;
    transform: translate(10px,0);
}
@media screen and (max-width: 770px) {
    .aside-menu{
        width: 100%;
        font-size: 1.2em;
    }
    .aside-menu_closed{
        left: 0px;
        top: calc(100% - 40px);
    }
    .aside-menu__btn-open{
        top: 0px;
        left: 50%;
        transform: translate(-50%,0px) rotate(90deg);
    }
    .aside-menu__btn-close{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,-100%);
    }
    .aside-menu__area-open{
        position: absolute;
        width: 100%;
        height: 40px;
        top: 0px;
        left: 100%;
    }
}
/* ======================== Section ============================ */
section{
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 95%;
    height: 100%;
    padding: 30px 15px;
}
section h2{
    font-size: 1.6em;
    border-bottom: 1px solid black;
}
section h3{
    color: rgb(120, 120, 120);
    font-size: 0.8em;
    margin-bottom: 30px;
}
section p{
    text-align: justify;
}
section img{
    float: right;
    margin: 10px;
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 50%;
}
section nav{
    margin-top: 10px;
}
section nav a{
    margin-right: 10px;
}
@media screen and (max-width: 550px) {
    section img{
        display: block;
        float: none;
        margin: auto;
        max-width: 80%;
    }
    section p{
        margin-bottom: 2px;
    }
}
/* ======================== Title h1 ============================ */
.title{
    padding: 0px;
    height: 100%;
    width: 100%;
}
.title__bg{
    height: 100%;
    width: 100%;
    background: url(./source/bgBlack.png);
    -webkit-mask-image: linear-gradient(to right, ghostwhite, transparent 80%);
    mask-image: linear-gradient(to right, ghostwhite, transparent 80%);
    opacity: 0.9;
    background-size: cover;
}
.title__h1{
    width: 30%;
    letter-spacing: 3px;
    padding: 5px;
    text-align: center;
    background: white;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 15%;
}
.title__h1_subtext{
    letter-spacing: normal;
    font-weight: 400;
}
@media screen and (max-width: 550px) {
    .title__h1{
        width: 80%;
    }
}
/* ======================== My projects ============================ */
.xo img{
    float: none;
    display: block;
    margin: auto;
}

/* ======================== About & contacts ============================ */
.about h2{
    border-bottom: none;
}
.sertifications h2{
    border-bottom: none;
}
.sertifications img{
    float: none;
    margin-left: 0px;
    max-width: 80%;
    max-height: 50%;
}

.about li{
    list-style-position: inside;
}
.about ul{
    margin-bottom: 20px;
}
